src/test/resources/booking.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="booking" type="bookingType"/>
  <xs:complexType name="bookingType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="city"/>
      <xs:element type="xs:float" name="temp"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>